*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/google-services.json
PROJECT_SPEC.md
.kotlin/errors/errors-1773402730983.log
.kotlin/errors/errors-1768548287307.log
proyecto_ajedrez_explicacion.md
errores.txt
